body {
    --color-bg: #ffffff;
    --color-text: #2f2e41;
    --color-name: #424058;
    --color-link: #a29eb2;
    --color-header: #d2738f;
    --color-line: #c6c2db;

    margin: 0;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 400;
}

h1 {
    font-size: 32px;
    color: var(--color-name);
    text-transform: uppercase;
    width: 50%;
    font-weight: 700;
}

h2 {
    color: var(--color-text);
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 300;
}

h3 {
    color: var(--color-header);
    text-transform: uppercase;
    font-weight: 700;
    font-size:16px;
}

h4 {
    color: var(--color-name);
    font-weight: 400;
    font-size: 16px;
}

p {
    color: var(--color-text);
    font-size: 14px;
}

li {
    font-size: 14px;
    color: var(--color-text);
}

a {
    font-size: 14px;
    text-decoration: none;
    color: var(--color-link);
}

hr {
    border-top: 1px solid var(--color-line);
    border-bottom: 1px solid var(--color-line);
}

.name,
.introduction,
.info {
    display: flex;
}

.left-column {
    flex-basis: 60%;
    padding-right: 2rem;
}

.right-column {
    flex-basis: 40%;
    padding-left: 2rem;
}

.pic {
    width: 100%;
}

.links {
    display: flex;
    justify-content: space-between;
}

@media print, screen and (min-width: 210mm) {
    * {
        print-color-adjust: exact;
        -webkit-print-color-adjust: exact;
    }

    @page {
        margin: 0;
    }

    .resume {
      width: 210mm;
      max-width: 210mm;
      height: 297mm;
      max-height: 297mm;
      padding: 7mm 16mm;
      margin: 0 auto;
    }
}